<footer class="row bg-dark d-flex align-items-center pt-2 mx-0">
    <div class="footer-start col-6">
        <h4>All rights reserved.</h4>
        <p>&copy; 2022 BEYOND THE PEAK</p>
    </div>
    <div class="footer-end col-6">
        <p>Built by Shaun Sticka, Greg Lanctot, & Bryan Durushia</p>
    </div>
</footer>