<header class="shadow">
    <div class="header d-flex justify-content-center overflow-hidden">
        <div class="col-12 mx-5 mb-5">
            <h1>
                BEYOND THE PEAK
            </h1>
            <div>
                <h6>
                    Random Cocktail Generator
                </h6>
            </div>
        </div>
    </div>
</header>