<navbar class="navbar sticky-sm-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container-fluid justify-content-center" id="navbarSupportedContent">
            <ul class="nav">
                <li class="nav-item">
                    <button class="btn btn-outline-light mx-2">
                        <a aria-current="page" href="/">Home</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-light mx-2">
                        <a href="/commentboard">Comments</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-light mx-2">
                        <a href="/morningafter">Morning After Results</a>
                    </button>
                </li>
                {{#if loggedIn}}
                <li class="nav-item">
                    <button id="logout" class="btn btn-outline-light mx-2">
                        <a>Logout</a>
                    </button>
                </li>
                {{else}}
                <li class="nav-item">
                    <button class="btn btn-outline-light mx-2">
                        <a href="/login">Login / Sign-Up</a>
                    </button>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</navbar>