<navbar>
    <ul class="nav bg-dark justify-content-center">
        <li class="nav-item">
            <button class="btn btn-outline-light mx-2">
                <a aria-current="page" href="/">Home</a>
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-light mx-2">
                <a href="/commentboard">Comments</a>
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-light mx-2">
                <a href="/morningafter">Morning After Results</a>
            </button>
        </li>
        {{#if loggedIn}}
        <li class="nav-item">
            <button id="logout" class="btn btn-outline-light mx-2">
                <a>Logout</a>
            </button>
        </li>
        {{else}}
        <li class="nav-item">
            <button class="btn btn-outline-light mx-2">
                <a href="/login">Login / Sign-Up</a>
            </button>
        </li>
        {{/if}}
    </ul>
</navbar>