{{!-- Same source as radial CSS --}}
<div class="radial menu size9 radius3 delay2 speed1 w3-2019-fiesta transparent" id="fourCorners" title="Four corners">
    <input id="checkforFourCorners" type="checkbox">
    <label class="radialPivot f1" for="checkforFourCorners">
        <span class="fas fa-wine-bottle"></span>
        <span class="sronly">Show menu items</span>
    </label>
    <ul class="radialList clock" role="navigation" aria-label="menu items">
        <li id="low-drunk" class="pNE">
            <span class="fas fa-grin"></span></li>
        <li id="mid-drunk" class="pSW">
            <span class="fas fa-grin-beam-sweat"></span></li>
        <li id="high-drunk" class="pNW">
            <span class="fas fa-grin-tears"></span></li>
        <li id="too-drunk" class="pSE">
            <span class="fas fa-dizzy"></span></li>
    </ul>
</div>