<div class="radial menu size9 radius3 delay2 speed1 w3-2019-fiesta transparent" id="fourCorners" title="Four corners">
    <input id="checkforFourCorners" type="checkbox">
    <label class="radialPivot f1" for="checkforFourCorners">
        <span class="fas fa-dollar-sign"></span>
        <span class="sronly">Show menu items</span>
    </label>
    <ul class="radialList clock" role="navigation" aria-label="menu items">
        <li class="pNE">
            <a href="javascript:alert('Pay with VISA')"><span class="fab fa-cc-visa"></span></a></li>
        <li class="pSW">
            <a href="javascript:alert('Pay with Mastercard')"><span class="fab fa-cc-mastercard"></span></a></li>
        <li class="pNW">
            <a href="javascript:alert('Pay with American Express')"><span class="fab fa-cc-amex"></span></a></li>
        <li class="pSE">
            <a href="javascript:alert('Pay with Amazon Pay')"><span class="fab fa-cc-amazon-pay"></span></a></li>
    </ul>
</div>