{{#if loggedIn}}
<div class="comment-form-container container d-flex justify-content-center">
    <form id="comment-form" class="col border border-2 m-5 px-3 bg-dark text-light">
        <div class="col-12 mb-3">
            <label class="form-label mt-3" for="drink-name">
                Drink Name
            </label>
            <input class="form-control" type="text" id="drink-name" name="drink-name">
        </div>
        <div class="col-12 mb-3">
            <label class="form-label" for="drink-description">
                Drink Description & Comment
            </label>
            <input class="form-control" type="text" id="drink-description" name="drink-description">
        </div>
        <div class="container d-flex justify-content-center">
            <button class="btn btn-outline-light my-3" type="submit">Add Comment</button>
        </div>
    </form>
</div>
{{/if}}

{{#if comments.length}}
<section>
    <div>
        <h2>Comments</h2>
        <ol>
            {{#each comments}}
            <li>
                {{drink_name}} <br>
                {{drink_description}} <br>
                Created by {{user.username}} on {{format_date created_at}}
            </li>
            {{/each}}
        </ol>
</section>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
{{/if}}