<section class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="drink-image col-6 justify-content-center m-4 mt-5" id="drink-image">
            {{!-- <h2 class="mt-5">* Display Drink Image *</h2> --}}
        </div>
        <div class="drink-description justify-content-center m-4 mt-5 align-items-middle">
            {{> radial }}
            <div id="random-container" class="mt-5">
            </div>
            <div id="drink-container" class="mb-5">
            {{!-- <h2 class="mt-5">{{ Drink Name }}</h2> --}}
            {{!-- <p>{{ Drink Description }}</p> --}}
            </div>
            <div id="random-one">
                
            </div>
            <button id="new-drink" class="new-drink-btn btn btn-outline-dark mt-5" type="submit">
                I don't want this drink.
            </button>
        </div>
    </div>
</section>

<script src="/javascript/index.js"></script>
<script src="/javascript/random-options.js"></script>