<section class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="drink-description justify-content-center m-4 mt-5 align-items-middle">
            {{> radial }}
            <div id="random-container" class="mt-5">
            </div>
            <div id="drink-container" class="mb-5">
            {{!-- <h2 class="mt-5">{{ Drink Name }}</h2> --}}
            {{!-- <p>{{ Drink Description }}</p> --}}
            </div>
            <div id="random-one">
                
            </div>
            <button id="new-drink" class="new-drink-btn btn btn-outline-dark mt-5" type="submit">
                Try something different
            </button>
            <button id="save-btn" class="save-drink-btn btn btn-outline-dark mt-5">Down the hatch</button>
        </div>
        <div class="drink-image col-6 align-items-center m-4 mt-5">
            <div class="row align-items-center">
                <div class="col align-self-center my-4 mx-2" id="drink-image-container">
                {{!-- Display Drink Image --}}
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/save.js"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/random-options.js"></script>
<script src="/javascript/reset-button.js"></script>

