<section class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="drink-description justify-content-center m-4 mt-5 align-items-middle shadow">

            {{> radial }}

            <div id="drink-container" class="mb-0">
            </div>

            <div id="random-container" class="mt-0">
            </div>

            <div id="random-one">
            </div>

            <div class="container d-flex justify-content-center">
                <div class="my-1" id="drink-image-container">
                {{!-- Display Drink Image --}}
                </div>
            </div>
            
            <div class="my-1">
                <button id="new-drink" class="new-drink-btn btn btn-outline-dark mx-2 shadow-sm" type="submit">
                    Try something different
                </button>
                <button id="save-btn" class="save-drink-btn btn btn-outline-dark mx-2 m-sm-2 shadow-sm">
                    Down the Hatch
                </button>
            </div>
        </div>
{{!-- ABOUT SECTIONS --}}
        <div class="about-container col-6 align-items-center px-5 m-4 mt-5 shadow">
            <ul class="about-ul mt-2 p-0">
                <lt class="about-lt">How this works:</lt>

                <li class="about-li">
                    The app automatically generates a <span class="about-span-bold">
                            random drink
                        </span>.
                </li>
                <li class="about-li">
                    Click the 
                    <span class="about-span-bold">
                        bottle
                    </span> 
                    to set how brave you are.
                </li>
                <li class="about-li">
                    Click 
                    <span class="about-span-bold">
                        Try something different
                    </span> 
                    to generate a new drink.
                </li>
                <li class="about-li">
                    Click 
                    <span class="about-span-bold">
                        Down the Hatch
                    </span> 
                    after you've had your drink to save it.
                </li>
                <li class="about-li">
                    Check your 
                    <span class="about-span-bold">
                        morning results
                    </span> 
                    to review your evening.
                </li>
                <li class="about-li">
                    <span class="about-span-bold">
                            Login
                    </span> 
                    to leave 
                    <span class="about-span-bold">
                        comments
                    </span> 
                    and share your experiences!
                </li>
            </ul>
        </div>
    </div>
</section>

<script src="/javascript/save.js"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/random-options.js"></script>
<script src="/javascript/reset-button.js"></script>

