<section>
        <h2>Last Nights Damage</h2>
    <div id="list-of-drinks">

    </div>
    <div>
        <button id="clear">Clear</button>
    </div>
</section>

<script src="/javascript/last-night.js"></script>