:root {
    --primary-dark: #072227;
    --primary-medium: #35858B;
    --primary-light: #5ececa;
    --primary-lighter: #82f7f3;
}

/* NAVBAR */

navbar ul {
    padding: 1.5% 0;
}

.nav {
    background-color: var(--primary-medium);
}

.nav-item {
    text-decoration: none;
    color: var(--primary-lighter);
}

li a {
    text-decoration: none;
    color: white;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    background: url("../images/header-image.jpg") center no-repeat;
    /* background-color: var(--primary-medium); */
}

header h1 {
    color: white;
    text-align: center;
}

header h6 {
    color: var(--primary-lighter);
    margin-bottom: 25%;
    text-align: center;
}

/* MAIN BODY */

.container-fluid {
    height: 80vh;
    width: 100%vw;
    background-color: var(--primary-lighter);
}

.drink-image, .drink-description {
    background-color: var(--primary-light);
    text-align: center;
    border-radius: 15px;
}

.drink-image {
    height: 500px;
    width: 600px;
}

.drink-description {
    height: 300px;
    width: 600px;
}

/* FOOTER */

.footer-start {
    text-align: start;
}

.footer-end {
    text-align: end;
}

footer .col-6 h4, footer .col-6 p {
    color: white;
}

/* COMMENTS PAGE */

#comment-board {
    width: 100%;
    height: 80%;
}